$colorProyectos: #67B6B4; 
$colorBio: #FCD02E; 
$colorForm: #BA7581;

#proyectos{
    padding-bottom: 0;
    background-color: $colorProyectos;
}

main{
    background-color: white;
}

nav{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}

#presentacion{
    background-color: $colorBio;
}

#formulario{
    background-color: $colorForm;
    h5{
        color: white;
    }
}

#btn{
    background-color: #58e9f9;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

/*font-family: 'Josefin Sans', sans-serif;*/

@mixin fuenteJosefin{
    font-family: 'Josefin Sans', sans-serif;
  font-weight: 700; 
}

.josefin {
  @include fuenteJosefin;}