.dropdown:hover .dropdown-menu{
    display: block;
}

nav{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}

@mixin fuenteJosefin{
    font-family: 'Josefin Sans', sans-serif;
  font-weight: 700; 
}

.josefin {
  @include fuenteJosefin;}